<header class="masthead">
    <nav class="navbar">
        <div class="container">
          <ul>
            <li>CLEVER FREAK !!! </li>
            <li><a href="about">About Us</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="review">Services</a></li>
          </ul>
        </div>
      </nav>
  <div class="container h-100">

      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            
              
              <h1 class="font-weight-light">Welcome to clever freak !!!</h1>
              <h2 class="font-weight-light">Where Learning meets fun 🥳</h2>
              <br>
              <h3 class="lead">It ain't that I'm questionin' you. To take part in any quiz.</h3>
              <br><br>
              <div class="buttons">
              <button id="reg-btn" onclick="window.location.href='usign';">Student Register</button><br>
              <button id="login-btn"onclick="window.location.href='ulog';">Student login</button><br>
              <button id="reg-btn" onclick="window.location.href='alog';">Teacher login</button><br>
          </div>
          </div>
      </div>
  </div>
  
</header>
<body></body>




