<body style="background-color: #f4dcdc;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top-nav">
          <div class="focus">Clever Freak !!!</div>
          <div class="log-out" onclick="window.location.href='home1';">Logout</div>
        </div>
        <div class="center-content">
          <h1>Welcome to Your Students's Dashboard!</h1>
          <br>
          <h2>Ready to learn start QuizzZ!!!.</h2>
          <h1 style="color: #bc2f9d; font-family: 'Comic Sans MS', sans-serif;">CLEVER FREAK Team</h1>
          <div class="buttons-container">
            <button onclick="window.location.href='aprof';">Myprofile</button>
            <button onclick="window.location.href='u1home';">Attend quiz</button>
            <button onclick="window.location.href='uchange';">Change password </button>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
