body {
  font-family: Arial, sans-serif;
  background-color: #f4dcdc;
  margin: 0;
  padding: 0;
}

.contain {
  background-color: #ffe4e1; /* Light pink background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

h3 {
  color: #333;
  text-align: center;
}

.unordered-list {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

p {
  margin: 5px 0;
}

b {
  font-weight: bold;
}
