<body style="background-color: #f4dcdc;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top-nav">
          <div class="focus"> Clever Freak!!!</div>
          <div class="log-out" onclick="window.location.href='home1';">Logout</div>
        </div>
        <div class="center-content">
          <h1>Welcome to Your Teacher's Dashboard!</h1>
          <br>
          <h2>Manage your quizzes and questions efficiently.</h2><br>
          <h1 style="color: #e07dcb; font-family: 'Comic Sans MS', sans-serif;">CLEVER FREAK Team</h1><br>
          <div class="buttons-container">
            <button onclick="window.location.href='aprof';">Search users</button>
            <button onclick="window.location.href='playlist';">View Users</button>
            <button onclick="window.location.href='remove';">Delete Users</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
