

    
    <title>Contact Us - Quiz App</title>
   

<body>
    <div class="container">
        <header>
            <h1>Contact Us</h1>
        </header>
        <main>
            <section>
                <h2>General Inquiries</h2>
                <p>If you have any questions or feedback about Quiz App, feel free to contact us.</p>
                <p>Email: <a href="mailto:cleverfreak@gmail.com">cleverfreak@gmail.com</a></p>
            </section>
            <section>
                <h2>Technical Support</h2>
                <p>For technical assistance or issues related to the app, please contact our support team.</p>
                <p>Phone: <a href="tel:+1234567890">+91 1234567890</a></p>
            </section>
            <section>
                <h2>Our Github Link</h2>
                
                <p><a href="cleverfreak.github.com">cleverfreak.github.com</a></p>
            </section>
        </main>
        <footer>
            <a href="home1" class="button">Back to Home</a>
        </footer>
    </div>
</body>

